name: CI
permissions:
  contents: read

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version-file: .python-version
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Run tests
        run: uv run ./bin/test
